@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.background{
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
background: linear-gradient(135deg, #000000, #0084ff);
}

.container
{
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500px;
    position: relative;
}

form .button{
    height: 45px;
    width: 150px;
   
}

form .button input{
    height: 100%;
    width: 25%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: linear-gradient(135deg, #000000, #0084ff);
}

form .button input:hover{
    background: linear-gradient(-135deg, #000000, #0084ff);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight:500 ;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline:none ;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #0084ff;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: linear-gradient(135deg, #000000, #0084ff);
}

form .button input:hover{
    background: linear-gradient(-135deg, #000000, #0084ff);
}